@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #b6b6b6;
    --secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #b4c0b4;
    --transition-speed: 600ms;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.7;
}

body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
    background: #6649b8;
}

main {
    background-color: var(--secondary);
    color: var(--bg-primary);
    margin-left: 5rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@media only screen and (max-width: 600px) {
    main {
        margin: 0;
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
