<nav class="navbar">
    <ul class="navbar-nav">
        <li class="logo">
            <a routerLink="/inicio" class="nav-link">
                <span class="link-text">CarCoders</span>
                <img src="../../../assets/logo.png" alt="Logo">
            </a>
        </li>
        
        <li class="nav-item">
            <a routerLink="/administracion/personas" class="nav-link">
                <i class='bx bx-user-pin'></i>
                <span class="link-text">Personas</span>
            </a>
        </li>

        <li class="nav-item">
            <a routerLink="/administracion/productos" class="nav-link">
                <i class='bx bx-car'></i>
                <span class="link-text">Productos</span>
            </a>
        </li>
        
        <li class="nav-item">
            <a routerLink="/pedidos/pedidos" class="nav-link">
                <i class='bx bx-detail'></i>
                <span class="link-text">Pedidos</span>
            </a>
        </li>
        
        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class='bx bx-table'></i>
                <span class="link-text">Administrador</span>
            </a>
        </li>

        <li class="nav-item">
            <a href="#" class="nav-link">
                <i class='bx bx-cog' ></i>
                <span class="link-text">Ajustes</span>
            </a>
        </li>
        
    </ul>
</nav>